Source: qubes-fwupd
Section: misc
Priority: extra
Maintainer: Norbert Kamiński (Asiderr) <norbert.kaminski@3mdeb.com>
Build-Depends:
    debhelper (>= 10~),
    config-package-dev
Standards-Version: 0.2.1
Homepage: https://fwupd.org/

Package: qubes-fwupd-vm-whonix
Section: misc
Architecture: amd64
Depends: gpg
Description: Whonix support for qubes-fwupd
